{% extends "base.html" %}
{% load category_list %}

{% block content %}
    <div class="row h-80 my-auto align-items-center">
        <div class="col my-auto text-center index-font index-font-big">
        {% if object %}
        {{ object.thought|safe }}
            {% if object.author %}
                <div class="row">
                    <div class="col text-center mb-5 index-font-small">
                        <em>{{ object.author|safe }}</em>
                    </div>
                </div>
            {% endif %}
        {% else %}
        Mintis pakeliui pasiklydo, bandykite paspausti F5.
        {% endif %}
        </div>
    </div>
    {% category_list all_categories border_position='top' %}
{% endblock %}
