{% extends parent_template|default:"thoughts/base_thoughts.html" %}
{% load category_list %}

{% block content %}

{% category_list all_categories border_position='bottom' %}
{% for item in items %}
    <div class="row py-3 my-3">
        <div class="col-sm-12">
            {{ item.thought|safe }} {% if item.author %} - <em>{{ item.author|safe }}</em>{% endif %}
        </div>
    </div>
{% empty%}
    <div class="row h-50">
        <div class="col-sm12 my-auto mx-auto px-5">
            Tuščia
        </div>
    </div>
{% endfor %}

{% include "pagination.html" %}
{% category_list all_categories border_position='top' %}
{% endblock %}

{% block top_nav %}
<a href="{% url 'thoughts:home' %}">&#8672; Pradžia</a>
{% endblock top_nav %}
