{% extends "base.html" %}
{% load category_list %}

{% block content %}

{% category_list all_categories border_position='bottom' %}
{% for object in object_list %}
{% include 'thoughts/thought_detail.html' %}
{% empty%}
    <div class="row">
        <div class="col text-center mx-auto py-5 my-5">
            Tuščia
        </div>
    </div>
{% endfor %}

{% include "pagination.html" %}
{% category_list all_categories border_position='top' %}
{% endblock %}

{% block top_nav %}
<a href="{% url 'thoughts:home' %}">&#8672; Pradžia</a>
{% endblock top_nav %}
