{% load crispy_forms_tags %}

<form method="POST" class="modal-content form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ url }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' data-hx-trigger-form="{{hx_trigger_form}}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Mintys</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include 'core/includes/form_errors.html' %}

        {% for field in form %}
        {% if not field.is_hidden %}
        <div class="row">
            <div class="col-4">{{ field.label_tag }}</div>
            <div class="col-8">{{ field|as_crispy_field }}</div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="modal-footer">
        {% if form_action == "insert" %}<button type="submit" id="_new" class="btn btn-sm btn-primary">Insert</button>{% endif %}
        {% if form_action == 'update' %}<button type="submit" id="_update" class="btn btn-sm btn-primary">Update</button>{% endif %}
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>

<script>
    $(document).keydown(function (event) {
        if (event.keyCode == 27) {
            $('#modal').modal("hide");
        }
    });

    $(document).on('submit', '.js-form', function (e) {
        e.preventDefault();
    });

</script>
