{% load link_name %}
        {% if is_paginated %}
        <nav class="my-5">
            <ul class="pagination pagination-sm justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{{ request.get_full_path|link_name:page_obj.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
              {% endif %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="page-item active"><a class="page-link" href="{{ request.get_full_path|link_name:i }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="{{ request.get_full_path|link_name:i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{{ request.get_full_path|link_name:page_obj.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;</a></li>
              {% endif %}
            </ul>
        </nav>
      {% endif %}
