:root {
  --bs-body-font-size: 1rem;
  --font-size-xs: .7rem;
  --font-size-sm: .8rem;
}

a {
  text-decoration: none;
}

label,
.invalid-feedback,
.form-control,
.form-control-sm {
  font-size: var(--font-size-sm);
}

.index-font {
  font-family: 'Lora', serif;
  color: #222222;
  font-weight: 400;
}

.index-font-big {
  font-size: 26px;
  color: #ea4c88;
}

.index-font-small {
  font-size: 14px;
  color: #222222;
}

.h-80 {
  display: grid;
  grid-template-rows: 85vh;
}

.btn-sm {
  font-size: var(--font-size-sm);
  padding: .2rem .3rem;
}

.page-link {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.btn-xs {
  font-size: var(--font-size-xs);
  padding-top: .01rem;
  padding-bottom: .01rem;
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.modal-dialog {
  max-width: 80% !important;
  margin: auto;
}
